extends layouts/main_layout

block head
    title=title


block content
    .container
        br
        br
        h1(style='text-align: center') About page
        br
        p(style='text-align: justify').
            Lorem ipsum dolor adipisicing elit. Consequuntur atque velit blanditiis adipisci officia minima soluta, sequi maxime neque repellendus ex voluptatum. Nam corrupti reprehenderit, ipsum quia rem at similique rerum. Eius harum quisquam nihil consectetur consequuntur, aliquam exercitationem eveniet quas, excepturi nulla voluptate quasi soluta. Tempora reiciendis accusamus labore perferendis tenetur. Odit accusamus maiores aliquam veritatis quae incidunt doloremque, quos ad fugit unde voluptate molestiae assumenda! Iste, dolores sunt commodi voluptates ullam minima tempore tenetur et totam deleniti at voluptatibus architecto, enim sit nam molestias quisquam sint. Veritatis nisi tempora, delectus aspernatur ad natus, ullam eum enim magnam ut animi deserunt cum asperiores non. Dignissimos dicta pariatur quis autem tempora consectetur quae beatae libero et neque, sunt laborum voluptates praesentium, debitis sit obcaecati assumenda! Aliquam maiores aspernatur dolor consequuntur adipisci qui aliquid ab? Inventore quas, fugit ipsa voluptatem similique dolorem sint, quia quo exercitationem reprehenderit, provident porro ipsum nostrum? Laborum deleniti dicta dolorum facere, necessitatibus error. Maiores vitae necessitatibus ipsam sunt corrupti. Quaerat fuga sequi repellat esse id dolorem fugit suscipit odio? Quam cumque, delectus saepe quasi eius quos perspiciatis incidunt ex mollitia distinctio esse omnis consequatur officiis odio est dolorem ullam cum totam quibusdam! Libero rem, temporibus laudantium est provident reiciendis voluptatibus ut iste repellendus tempore alias ullam eligendi suscipit enim quam, modi nobis pariatur earum? Dicta totam voluptates numquam dolor, porro deserunt similique fugit perspiciatis quidem aliquid modi necessitatibus accusantium reprehenderit eum assumenda beatae quibusdam corporis nesciunt soluta dignissimos aliquam, libero maxime? Temporibus, exercitationem. Laudantium voluptatem, at sed libero similique voluptate ex laboriosam deleniti suscipit ducimus eaque eius illo asperiores obcaecati perferendis saepe culpa dicta earum voluptates veniam labore? Dolores pariatur corporis consequuntur minus, alias minima nemo odit suscipit, necessitatibus dolorum doloribus reprehenderit perferendis ratione omnis temporibus deserunt officia. Eius adipisci, eligendi eum ipsam doloremque tenetur hic.