.form{
    width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.btn-center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.messages{
    text-align: center;
}